# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

.vs/
Debug/*
Release/*
*.orig
*.bak
*.tmp
html/*
!html/*.chm
!*.lib


Sample/x64/Release/Sample.tlog/
DirectX9/x64/Release/DirectX9.tlog/
Sample/Release/Sample.tlog/

Sample/x64/Debug/Sample.tlog/
DirectX9/x64/Debug/DirectX9.tlog/
Sample/Debug/Sample.tlog/
